body{
    /* background-image: linear-gradient(45deg,#446cda,#d54ba7); */
    background-color: rgb(17, 17, 80);
    background-repeat: none;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    /* font-family: 'Patrick Hand', cursive;     */
}

.weather-report-card{
    /* background: linear-gradient(50deg,#112720,#123822); */
    width: 50%;
    padding: 50px 10px 25px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px greenyellow;
}

.bg-custom{
    background:rebeccapurple;
    border-radius: 50  px;
}

.weather-report-card::after{
    display: block; 
    clear: both;
    font-size: 23px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.list-group-item{
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
    
}


#w-humidity{

    border-radius: 15px;
    
}
#w-pressure{
    border-radius: 15px;
}


#w-wind{
    border-radius: 15px;
}


.bottom-text{
    text-align: center;
   margin-top: 50px;
}